body {
    width: auto;
    
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    font-family: PTSans;
    font-size: 14px;
    font-weight: bold;
	line-height: 26px;
    text-transform: uppercase;
    
    color: #000000;
    background-color: #f2f2f2;
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    font-size: 21px;
    line-height: 26px;
}

h2 {
    font-size: 30px;
    line-height: 24px;
}

.conteiner {
    width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
    
    background-color: #ffffff; 
    box-shadow: 
        -5px -5px 5px #dbdbdb,
        5px 5px 5px #dbdbdb;
}

/*   -----------------------------  CLEARFIX  ----------------------------- */

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/*   -----------------------------  HEADER  ----------------------------- */

.header-conteiner {
    font-size: 0px;
}

.header-conteiner > ul {
    margin-left: 0; 
    padding-left: 0;
}

.header-conteiner > ul > li {
    display: inline-block;
    box-sizing: border-box;
    
    width: 20%;
    padding-top: 15px;
	padding-bottom: 15px;
    
    font-size: 12px;
	line-height: 26px;
    text-align: center;
    vertical-align: middle;
}

.header-conteiner .header-logo {
    padding-top: 0px;
	padding-bottom: 0px;

	line-height: 0px;
}

/*   -----------------------------  MAIN BANNER  ----------------------------- */

.main-banner {
    margin-bottom: 0px;
    padding-bottom: 0px;
	
	line-height: 0px;
}

/*   -----------------------------  MAIN  ----------------------------- */

/*   ---------------------  DESCRIPTION-HEADER  ----------------------- */

.description-header {
	text-align: center;
}

.description-header > h1 {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 60px;
    padding-bottom: 38px;
}

.description-header > p {
	margin-top: 0px;
	margin-bottom: 0px;
    padding-top: 0px;
	padding-bottom: 40px;
	
    font-size: 14px;
    font-weight: 400;
}

/*   -----------------------------  Описание 1, 2  ----------------------------- */

.description-item-1,
.description-item-2 {
	line-height: 0px;
    text-align: center;
	color: #ffffff;
}

.description-item-1 > .item,
.description-item-2 > .item {
    width: 33.34%;
    float: left;
	line-height: 26px;
    background-color: #81b3d2;
}

.description-item-1 h1,
.description-item-2 h1 {
	width: 200px;
	margin: auto;
	margin-top: 55px;
	margin-bottom: 8px;
	padding-top: 0px;
}

.description-item-1 p,
.description-item-2 p {
	width: 350px;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 55px;
}


.description-banner {
	width: 66.66%;
	float: right;
}

.description-item-2 > .description-banner {
    width: 66.66%;
    float: left;
}

/*   -----------------------------  Описание   ----------------------------- */

.description {
    display: table;
}

.description > .item {
	display: table-cell;
	width: 400px;
	
    text-align: center;
}

.item > img {
    display: block;
    margin-right: auto;
    margin-left: auto;
	margin-top: 70px;
	margin-bottom: 11px;
}

.description > h1 {
	
}

.description  p {
	width: 340px;
	margin: auto;
	margin-bottom: 75px;
}

/*   --------------------  DESCRIPTION FOOTER  ----------------------- */

.description-footer {
    display: table;
    text-align: center;
    background-color: #eeeeee;
}

.item-footer {
    display: table-cell;
    width: 400px;
}

.item-footer > h1 {
	width: 150px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 15px;
}

.item-footer > span {
	display: block;
	margin-bottom: 15px;
}

.item-footer > p {
	width: 250px;
	margin: auto;
	margin-bottom: 40px;
}

/*   --------------------  SEARCH  ----------------------- */

.search {
    outline: 5px solid blue;
}

.search-header {
    background-color: green;
    text-align: center;
    height: 314px;
}

.search-menu-header {
    width: 568px;
    margin-left: auto;
    margin-right: auto;
    background-color: #766357;
    
}

.search-footer {
    background-image: url('../img/Sedona-map.jpg');
    height: 473px;
}

.search-menu-conteiner {
    width: 568px;
    height: 395px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    
}

.search-menu-conteiner input {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    height: 120px;
    display: table;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
    display: table-cell;
    width: 400px;
    text-align: center;
    vertical-align: middle;
}

/*   -----------------------------      Сетка hotels.html   -----------------------------        */

/*   -----------------------------  Меню поиска    ----------------------------- */

.search-test {
    outline: 5px solid blue;
    width: 1200px;
    margin: 0px;
    padding: 0px; 
}

.search-test::after {
    content: '';
    display: table;
    clear: both;
}

.infrastructure,
.property-type,
.cost {
    width: 398px;
    margin: 0px;
    padding: 0px; 
    float: left;
}

/*   -----------------------------  Меню сортировки    ----------------------------- */

.results-menu {
    outline: 5px solid red;
}

.results-menu::after {
    content: '';
    display: table;
    clear: both; 
}

.results-menu p,
.results-menu span {
    width: 100px;
    float: left;
    margin-top: 0px;
}

.sorting-results-list {
    width: 900px;
}

.sorting-results-list > li {
    display: inline-block;
    float: left;
}

.reverse-results-list {
    width: 290px;
    float: right; 
}

/*   -----------------------------  Список найденного    ----------------------------- */

.results {
    outline: 5px solid green;
}

.results-item {
    outline: 2px solid blue;
    height: 150px;
    display: block;
}

.results-item > img {
    float: left;
    border: 1px solid #ffffff;
}


.name-results {
    outline: 2px solid red;
    width: 500px;
    float: left;
}

.rating {
    width: 200px;
    margin-top: 10px;
    float: right;
    text-align: center;  
}



















